<div *ngIf="userHasCampaign else createcampaign">
    <div class="wrapperleft col-sm-6">
      <div>
        <h3>{{campaign.campaignName}}</h3>
        <p class="campaigndescription">
          {{campaign.campaignDescription}}}
        </p>
        <button class="btn readmore ">Read More</button>
      </div>
      <app-campaigndetails></app-campaigndetails>
      <div class="whatsnext clearfix">
        <div class="col-sm-12">
          <h3 class="addMargin h4font">What's Next</h3>
          <img src="../../../../assets/icons/Pencil.svg" class="pencilicon"/>
          <img src="../../../../assets/icons/Separator-4.svg" class="separatorIcon4-2"/>
            <div class="whatsnext-content">
              <h4>{{campaign.whatsNextTitle}}</h4>
              <p>
                {{campaign.whatsNext}}
              </p>
            </div>
        </div>
      </div>
    </div>
  
    <div class="wrapperright col-sm-5">
      
    </div>
  </div>
  <ng-template #createcampaign>
    <div class="wrapperleft col-sm-6">
      <div>
        <h3>You haven't got a campaign yet!</h3>
        <p class="campaigndescription">
          Campaigns are the heart of the Archives. Please create a campaign ot get started.
        </p>
        <a routerLink="campaign/new"><button class="btn createCampaign">Create a campaign</button></a>
      </div>
    </div>
  </ng-template>
  