<div *ngIf="userHasCampaign else createcampaign">
    <div class="wrapperleft col-sm-6">
      <div>
        <h3 *ngIf="showCampaignID, else showName">{{campaign.documentId}}</h3>
        <ng-template #showName>
        <h3 >{{campaign.campaignName}}</h3>
        </ng-template>
        <button *ngIf="showCampaignID, else otherbtn" class="btn showcampaign" (click)="showCampaign()">Hide</button>
        <ng-template #otherbtn>
        <button class="btn showcampaign" (click)="showCampaign()">Show Campaign ID</button>
        </ng-template>
        <p class="campaigndescription">
          {{campaign.campaignDescription}}}
        </p>
        <button class="btn readmore ">Read More</button>
      </div>
      <app-campaigndetails></app-campaigndetails>
      <div class="whatsnext clearfix">
        <div class="col-sm-12">
          <h3 class="addMargin h4font">What's Next</h3>
          <img src="../../../../assets/icons/Pencil.svg" class="pencilicon"/>
          <img src="../../../../assets/icons/Separator-4.svg" class="separatorIcon4-2"/>
            <div class="whatsnext-content">
              <h4>{{campaign.whatsNextTitle}}</h4>
              <p>
                {{campaign.whatsNext}}
              </p>
            </div>
        </div>
      </div>
    </div>
  
    <div class="wrapperright col-sm-5">
      <h3>Players</h3>
      <div *ngFor="let character of characters" class="list-group-item clearfix itemwrapper">
        <div class="leftcontent">
            <img src="../../assets/icons/PlayerImage.png" class="playerimage">
        </div>
        <div class="middlecontent">
            <h5 class="">{{ character.characterName }}</h5>
            <p class="">{{ character.characterRace }} / {{ character.characterRole }}</p>
        </div>
      </div>
    </div>
  </div>



  <ng-template #createcampaign>
    <div class="wrapperleft col-sm-6">
      <div>
        <h3>You haven't got a campaign yet!</h3>
        <p class="campaigndescription">
          Campaigns are the heart of the Archives. Please create a campaign ot get started.
        </p>
        <a routerLink="campaign/new"><button class="btn createCampaign">Create a campaign</button></a>
      </div>
    </div>
  </ng-template>
  