<nav class="navbar navstyle">
  <div class="container-fluid navbar-wrapper">
    <div class="collapse navbar-collapse divbar">
      <h3>F<span class="littleletters">actions &</span> NPC'<span class="littleletters">s</span></h3>
      <img src="../../assets/icons/Separator-1.svg" class="separatorIcon">
      <img src="../../assets/icons/Search-Icon.svg" class="searchIcon">
      <div class="inputdiv"><input type="text" placeholder="Type to search"></div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <img src="../../assets/icons/PlayerImage.png" class="playerimage">
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle playername" role="button">Player Name</a>
        </li>
        <li class="dropdown">
            <img src="../../assets/icons/Caret.svg" class="caretIcon">
        </li>
      </ul>
    </div>
  </div>
</nav>
