<div class="detailcontent clearfix">
    <div class="details col-sm-12">
      <h3 class="addMargin h4font">Details</h3>
      <img
        src="../../../../assets/icons/Separator-4.svg"
        class="separatorIcon4"
      />
      <div class="char-details">
        <div class="detail-part">
          <h5 class="">lol</h5>
          <p class="littlespace">lol</p>
        </div>
        <div class="detail-part">
          <h5 class="">lol</h5>
          <p class="littlespace">lol</p>
        </div>
        <div class="detail-part">
          <h5 class="">lol</h5>
          <p class="littlespace">lol</p>
        </div>
      </div>
    </div>
  </div>