.detailcontent{
    background-color: #323232;
    margin-top: 75px;
    color: #fff;
}

.char-details{
    margin: 15px 0px 20px 10px;
}

.separatorIcon4{
    width: 175px;
    display: block;
    margin-bottom: 15px;
}

.addMargin{
    margin: 30px 15px 0px 25px;
}

.readmore{
    float: right;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    background-color:#323232;
    border: 2px solid #323232;
    padding: 10px 30px;
    font-family: 'montserratbold';
    border-radius: 0px;
}


.readmore:hover{
    text-transform: uppercase;
    border: 2px solid #D8923B;
    padding: 10px 30px;
    font-family: 'montserratbold';
    -webkit-transition: 0.25s;
}

h3{
    font-family: 'my_fontregular';
    margin-bottom: 25px;
    color: #fff;
    display: inline-block;
}

.littlespace{
    margin-left: 15px;
    display: inline;
}

.detail-part{
    margin-bottom: 15px;
}

h5{
    color: #8a8a8a;
    font-family: 'montserratbold';
    text-transform: uppercase;
    margin-bottom: 5px;
    display: inline;
}

