<a href="#" class="list-group-item clearfix itemwrapper">
  <div class="leftcontent">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" #nameInput>
  </div>
  <div class="middlecontent">
    <label for="class">Class</label>
    <input type="text" id="class" class="form-control" #classInput>
  </div>
  <div class="rightcontent">
    <label for="race">Race</label>
    <input type="text" id="Race" class="form-control" #raceInput>
  </div>
  <div class="leftcontent">
      <label for="description">Description</label>
      <input type="text" id="description" class="form-control" #descriptionInput>
    </div>
    <div class="middlecontent">
      <label for="occupancy">Occupancy</label>
      <input type="text" id="occupancy" class="form-control" #occupancyInput>
    </div>
    <div class="rightcontent">
      <label for="location">Location</label>
      <input type="text" id="Location" class="form-control" #locationInput>
    </div>
    <div class="rightcontent">
        <button class="btn btn-success" type="submit" (click)="onAddNpc()">Add</button>
      </div>
</a>