<div class="contentwrapper-detail col-sm-7">
    <a href="#" class="list-group-item clearfix itemwrapper">
        <div class="titlebar clearfix">
            <div class="leftcontent">
                <h5 class="">{{ npc.name }}</h5>
                <p class="">{{ npc.race }} / {{ npc.role }}</p>
            </div>
            <div class="rightcontent">
                <h5 class="">Lvl</h5>
                <p class=""></p>
            </div>
        </div>
        <div class="content clearfix">
                <h5 class="">backstory</h5>
                <p class="whitetext">{{ npc.backstory }}</p>
        </div>
      </a>
</div>

<div class="col-sm-4 contentwrapper-notes">
  <h3>Notes</h3>
  <a><img src="../../../assets/icons/Plus.svg" class="plusicon"></a>
</div>

