
h5{
    color: #fff;
    font-family: 'montserratbold';
    text-transform: uppercase;
    margin-bottom: 5px;
}

.details{
    background-color: #646464;
    margin: 30px 30px 15px 0px;
}

textarea:focus, select:focus, input:focus{
    border-radius: 0px;
    border-bottom: 3px solid #d8923b;
    box-shadow: none;
    -webkit-transition: 0.25s;
}

textarea, input{
    border-radius: 0px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #646464;
    font-family: 'montserratlight';
    color: #fff;
}

textarea, input{
    border-radius: 0px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #646464;
    font-family: 'montserratlight';
    color: #fff;
}


select{
    border-radius: 0px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #646464;
    font-family: 'montserratlight';
    color: #646464;
}

label{
    color: #fff;
    font-family: 'montserratbold';
    text-transform: uppercase;
    margin-bottom: 5px;
}

.btn-custom-delete{
    color: #fff;
    text-transform: uppercase;
    background-color: #323232;
    padding: 15px 30px;
    font-family: 'montserratbold';
    border-radius: 0px;
}

.btn-custom-delete:hover{
    color: #fff;
    text-transform: uppercase;
    background-color:#a80f0f;
    padding: 15px 30px;
    font-family: 'montserratbold';
    -webkit-transition: 0.25s;
}

.btn-custom{
    color: #fff;
    text-transform: uppercase;
    background-color:#323232;
    padding: 15px 30px;
    font-family: 'montserratbold';
    border-radius: 0px;
}

.btn-addmargin{
    margin-right: 15px;
}

.btn-custom:hover{
    color: #323232;
    text-transform: uppercase;
    background-color:#D8923B;
    padding: 15px 30px;
    font-family: 'montserratbold';
    -webkit-transition: 0.25s;
}

.char-details{
    margin-top: 15px;
}

.littlespace{
    margin-bottom: 15px;
}

h4{
    color: #fff;
    font-family: 'montserratbold';
    text-transform: uppercase;
    margin-bottom: 5px;
}


.h4font{
    font-family: 'my_fontregular';
    color: #fff;
    display: inline-block;
}
.addMargin{
    margin: 30px 15px 0px 25px;
}

h3{
    font-family: 'my_fontregular';
    margin-bottom: 25px;
    color: #fff;
    display: inline-block;
}

p{
    color: #D8923B;
    font-family: 'montserratlight';
}

.leftcontent{
    float: left;
    display: inline-block;
    padding: 5px 5px;
    width: 33%;
}

.content{
    background-color: #323232;
    padding: 20px 30px;
}

.titlebar{
    background-color: #3E3E3E;
    padding: 15px 20px;
}

.whitetext{
    color: #fff;
}

.rightcontent{
    padding: 5px 5px;
    width: 33%;
    float: right;
    text-align: right;
    display: inline-block;

}

.plusicon{
    cursor: pointer;
    width: 35px;
    color: #D8923B;
    display: inline-block;
    float: right;
    margin: 15px 0;
    -webkit-transition: -webkit-transform .5s ease-in-out;
          transition:         transform .5s ease-in-out;
}

.plusicon:hover{
    -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}


.contentwrapper-editsection{
    display: inline-block;
    margin: 30px 25px 25px 50px;
    width: 93%;
}

.contentwrapper-detail{
    display: inline-block;
    margin: 30px 25px 25px 25px;
}

.contentwrapper-notes{
    display: inline-block;
    margin: 15px 15px 0px 0px;
}

.itemwrapper{
    background-color: #323232;
    border: none;
    border-radius: 0;
    padding: 0;
}

.itemwrapper:hover{
    background-color: #323232;
    border-right: 5px solid #D8923B;
    border-left: 5px solid #D8923B;
    -webkit-transition: 0.25s;
}

.itemwrapper:focus{
    background-color: #323232;
    border-right: 5px solid #D8923B;
    border-left: 5px solid #D8923B;
    -webkit-transition: 0.25s;
}



