<div class="wrapperleft col-sm-6">
  <div>
    <h3>Campaign Name</h3>
    <a><img src="../../../assets/icons/Plus.svg" class="plusicon"/></a>
    <p class="campaigndescription">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim
      ante turpis, eget consequat est posuere non. Proin vel velit mollis,
      euismod enim quis, facilisis sapien. Curabitur suscipit, dui posuere
      faucibus facilisis, velit urna luctus ex, sit amet elementum enim tellus
      id sem. Pellentesque rutrum mauris et erat congue ultrices. Praesent id
      massa ac arcu imperdiet blandit et nec nisi. Nulla aliquam elit ut massa
      bibendum, in fermentum nisl vehicula. Pellentesque habitant morbi
      tristique senectus et netus et malesuada fames ac turpis egestas. Nunc
      ornare mi ut lacus commodo euismod. Aenean ac nibh id libero condimentum
      dapibus. Quisque lectus metus, ullamcorper vel cursus at, dictum in metus.
      Phasellus scelerisque magna orci, a tincidunt odio rhoncus id. Maecenas
      efficitur sodales sodales. Sed sit amet feugiat augue.
    </p>
    <button class="btn readmore ">Read More</button>
  </div>
  <div class="detailcontent clearfix">
    <div class="details col-sm-12">
      <h3 class="addMargin h4font">Details</h3>
      <img
        src="../../../../assets/icons/Separator-4.svg"
        class="separatorIcon4"
      />
      <div class="char-details">
        <div class="detail-part">
          <h5 class="">lol</h5>
          <p class="littlespace">lol</p>
        </div>
        <div class="detail-part">
          <h5 class="">lol</h5>
          <p class="littlespace">lol</p>
        </div>
        <div class="detail-part">
          <h5 class="">lol</h5>
          <p class="littlespace">lol</p>
          <button class="btn readmore ">Read More</button>
        </div>
      </div>
    </div>
  </div>

  <div class="whatsnext clearfix">
    <div class="details col-sm-12">
      <h3 class="addMargin h4font">What's Next</h3>
      <img
        src="../../../../assets/icons/Separator-4.svg"
        class="separatorIcon4-2"
      />
      <div class="whatsnext-content">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim
            ante turpis, eget consequat est posuere non. Proin vel velit mollis,
            euismod enim quis, facilisis sapien. Curabitur suscipit, dui posuere
            faucibus facilisis, velit urna luctus ex, sit amet elementum enim tellus
            id sem. Pellentesque rutrum mauris et erat congue ultrices. Praesent id
            massa ac arcu imperdiet blandit et nec nisi. Nulla aliquam elit ut massa
            bibendum, in fermentum nisl vehicula. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Nunc
            ornare mi ut lacus commodo euismod. Aenean ac nibh id libero condimentum
            dapibus. Quisque lectus metus, ullamcorper vel cursus at, dictum in metus.
            Phasellus scelerisque magna orci, a tincidunt odio rhoncus id. Maecenas
            efficitur sodales sodales. Sed sit amet feugiat augue.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapperright col-sm-5">
  <h3>NPC's</h3>
  <a routerLink="npc/new"
    ><img src="../../../assets/icons/Plus.svg" class="plusicon"
  /></a>
</div>
