.sidenav{
    padding-right: 0px;
    z-index: 10;
}

.wrapper{
    margin-right: 0px;
    background-color: #646464;
}

.active a,
.active a:hover,
.active a:focus,
.active a:active {
  color: white;
  background-color: black;
}

