.wrapperfactions{
    display: inline-block;
    margin: 0px 25px 25px 25px;
    width: 30%;
}

.wrappernpcs{
    display: inline-block;
    margin: 0px 15px 0px 0px;
    width: 60%;
}

.wrapperdetail{
    display: inline-block;
    margin: 25px 15px 0px 0px;
    width: 60%;
}

.wrapperadd{
    display: inline-block;
    margin: 0px 15px 25px 0px;
    width: 60%;
}

.separator3{
    display: inline-block;
    height: auto;
    width: 54px;
    margin-top: 8px;
}

h3{
    font-family: 'my_fontregular';
    margin-bottom: 25px;
    color: #fff;
    display: inline-block;
}


.plusicon{
    width: 35px;
    color: #D8923B;
    display: inline-block;
    float: right;
    margin: 15px 0;
    -webkit-transition: -webkit-transform .5s ease-in-out;
          transition:         transform .5s ease-in-out;
}

.plusicon:hover{
    -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
