<div class="container-fluid wrapper">
  
    <h1>AotB</h1>
    <img src="../../assets/icons/Separator-2.svg" class="separatorIcon2">

    <div class="menu">
      <h3>P<span class="littleletters">layer</span></h3>
      <ul>
        <a href="#">
          <li>
              <img src="../../assets/icons/Characters.svg" class="icon">
              <h4>Character</h4>
          </li>
        </a>
        <a routerLink="/items">
          <li>
              <img src="../../assets/icons/Items.svg" class="icon">
              <h4>Items</h4>
          </li>
        </a>
      </ul>
    </div>

    <div class="menu">
        <h3>C<span class="littleletters">ampaign</span></h3>
        <ul>
          <a routerLink="/campaign-overview">
            <li>
                <img src="../../assets/icons/Overview.svg" class="icon">
                <h4>Overview</h4>
            </li>
          </a>
          <a href="#">
            <li>
                <img src="../../assets/icons/Characters.svg" class="icon">
                <h4>Party</h4>
            </li>
          </a>
          <a routerLink="/factions-and-npcs">
            <li>
                <img src="../../assets/icons/Flag.svg" class="icon">
                <h4>Factions & NPC's</h4>
            </li>
          </a>
          <a href="#">
              <li>
                  <img src="../../assets/icons/Swords.svg" class="icon">
                  <h4>Encounters</h4>
              </li>
          </a>
          <a href="#">
              <li>
                  <img src="../../assets/icons/Map.svg" class="icon">
                  <h4>Map</h4>
              </li>
          </a>
          <a href="#">
              <li>
                  <img src="../../assets/icons/Clock.svg" class="icon">
                  <h4>Timeline</h4>
              </li>
          </a>
        </ul>
      </div>
    <p class="copyright">
      Copyright&copy; Sam Goedgezelschap
    </p>
</div>